* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, rgb(235, 235, 235) , rgb(65, 65, 53));;}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color: rgb(104, 104, 104);
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

li {
    display: flex;
    background-color: rgba(255, 247, 247, 0.446);
    width: 5rem;
    height: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}