* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color: rgba(60, 39, 39, 0.499);
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

li {
    background-color: rgb(179, 148, 148);
}